.App {
  margin-top: 100px;
  text-align: center;
}
#root .button {
  margin-left: 11px;
}

.progress-day {
  display: block;
  width: 5px;
  height: 27px;
  background: #000;
  content: "";
  position: absolute;
  z-index: 1000;
  top: -1px;
}

#root .progress .label {
  position: initial;
}
