.App {
  margin-top: 100px;
  text-align: center;
}

.progress-day {
  display: block;
  width: 5px;
  height: 27px;
  background: #000;
  content: "";
  position: absolute;
  z-index: 1000;
  top: -1px;
}

#root .progress .label {
  position: initial;
}

#root .card {
  margin: 0 auto;
  width: 366px;
  margin-bottom: 15px;
}

#root .ui.button {
  min-height: 4em;
  border-top: 0.4px solid;
  border-bottom: 0.4px solid;
}

#root .ui.label {
  margin-bottom: 5px;
}

#root .ui.ribbon {
  position: absolute;
  left: -15px;
}

#root .errorMessage {
  color: red;
}
